{% INCLUDE 'overall_header.html' %}

{% if S_ADD or S_EDIT %}
<a href="{{ U_BACK }}" style="float: {{ S_CONTENT_FLOW_END }};">&laquo; {{ lang('BACK') }}</a>
{% endif %}
<h1>{{ lang('ACP_DMP_PARTNERS') }}</h1>

<p>{{ lang('ACP_DMP_PARTNERS_DESC') }}</p>
<br	/>

<p><img src="https://img.shields.io/badge/{{ lang('Version') }}-{{ ACP_PARTNER_VERSION }}-green.svg?style=plastic" /></p>

{% if S_ADD or S_EDIT %}
<h3>{% if S_ADD %}{{ lang('ACP_DMP_TITLE_ADD') }}{% else %}{{ lang('ACP_DMP_TITLE_EDIT') }}{% endif %}</h3>
<p>{% if S_ADD %}{{ lang('ACP_DMP_ADD_EXPLAIN') }}{% else %}{{ lang('ACP_DMP_EDIT_EXPLAIN') }}{% endif %}</p>
<form method="post" action="{{ U_ACTION }}">
	<p><input type="hidden" name="id" value="{{ ID }}" /></p>
	<fieldset>
		<legend>{{ MODE_TITLE }}</legend>
		<dl>
			<dt><label>{{ lang('ACP_DMP_SITE') ~ lang('COLON') }}</label><br><span>{{ lang('ACP_DMP_SITE_DESC') }}</span></dt>
			<dd><input type="text" name="site" size="41" value="{{ SITE }}" /></dd>
		</dl>
		<dl>
			<dt><label>{{ lang('ACP_DMP_DESC') ~ lang('COLON') }}</label><br><span>{{ lang('ACP_DMP_DESC_DESC') }}</span></dt>
			<dd><textarea rows="9" name="text" cols="52">{{ TEXT }}</textarea></dd>
		</dl>
		<dl>
			<dt><label>{{ lang('ACP_DMP_SETTING') ~ lang('COLON') }}</label><br><span>{{ lang('ACP_DMP_SETTING_DESC') }}</span><br></dt>
			<dd>{{ lang('ACP_DMP_BB_SET') ~ lang('COLON') }} <input type="checkbox" name="bb_set" value="1" {{ BB_SET }} /> {{ lang('ACP_DMP_SMILY_SET') ~ lang('COLON') }} <input type="checkbox" name="smilie_set" value="1" {{ SMILIE_SET }} /> {{ lang('ACP_DMP_URL_SET') ~ lang('COLON') }} <input type="checkbox" name="url_set" value="1" {{ URL_SET }} /></dd>
		</dl>
		<dl>
			<dt><label>{{ lang('ACP_DMP_URL') ~ lang('COLON') }}</label><br><span>{{ lang('ACP_DMP_URL_DESC') }}</span></dt>
			<dd><input type="text" name="url" size="52" value="{{ URL }}" /></dd>
		</dl>
		<dl>
			<dt><label>{{ lang('ACP_DMP_IMG') ~ lang('COLON') }}</label><br><span>{{ lang('ACP_DMP_IMG_DESC') }}</span></dt>
			<dd><input type="text" name="image" size="52" value="{{ IMG }}" /></dd>
		</dl>
		<dl>
			<dt><label>{{ lang('ACP_DMP_BG_IMG') ~ lang('COLON') }}</label><br><span>{{ lang('ACP_DMP_BG_IMG_DESC') }}</span></dt>
			<dd><input type="text" name="bg_image" size="52" value="{{ BG_IMG }}" /></dd>
		</dl>
		<dl>
			<dt><label>{{ lang('ACP_DMP_SAVE_KLICK') ~ lang('COLON') }}</label><br><span>{{ lang('ACP_DMP_SAVE_KLICK_DESC') }}</span></dt>
			<dd><input type="checkbox" name="click_set" value="1" {{ CLICK_SET }} /> &nbsp;&nbsp;<input type="text" name="clicks" maxlength="8" size="10" value="{{ CLICKS }}" /></dd>
		</dl>
		<dl>
			<dt><label>{{ lang('ACP_DMP_AKTIV') ~ lang('COLON') }}</label><br><span>{{ lang('ACP_DMP_AKTIV_DESC') }}</span></dt>
			<dd><input type="checkbox" name="activ" value="1" {{ ACTIV }} /> </dd>
		</dl>
	</fieldset>

	<fieldset class="submit-buttons">
		<legend>{{ lang('SUBMIT') }}</legend>
		<input class="button1" id="submit" name="save" value="{{ lang('SUBMIT') }}" type="submit" />&nbsp;
		<input class="button2" id="reset" name="reset" value="{{ lang('RESET') }}" type="reset" />
	</fieldset>
</form>
<br>
{% else %}
<form id="add" method="post" action="{{ U_ACTION }}">
<fieldset class="tabulated">
<legend>{{ lang('ACP_DMP_TITLE_ADD') }}</legend>
<p class="quick">
	{{ S_HIDDEN_FIELDS }}
	<input class="button2" name="add" type="submit" value="{{ lang('ACP_DMP_TITLE_ADD') }}" />
</p>
<table cellspacing="1">
	<thead>
		<tr>
			<th>{{ lang('ACP_DMP_SITE') }}</th>
			<th>{{ lang('ACP_DMP_URL') }}</th>
			<th>{{ lang('ACP_DMP_IMG') }}</th>
			<th>{{ lang('ACP_DMP_BG_IMG') }}</th>
			<th>{{ lang('ACP_DMP_KLICKS') }}</th>
			<th>{{ lang('ACP_DMP_KLICKS_AKTIV') }}</th>
			<th>{{ lang('ACP_DMP_AKTIV') }}</th>
			<th>{{ lang('ACTION') }}</th>
		</tr>
	</thead>
	<tbody>
	{% for partners in loops.partners %}
		{% if partners.S_ROW_COUNT is even %}<tr class="row1">{% else %}<tr class="row2">{% endif %}
		<td>{{ partners.TITLE }}</td>
		<td style="text-align: center;">{{ partners.URL }} </td>
		<td style="text-align: center;">{{ partners.IMG }} </td>
		<td style="text-align: center;">{{ partners.BG_IMG }} </td>
		<td style="text-align: center;">{{ partners.CLICKS }}</td>
		<td style="text-align: center;">{{ partners.CLICKS_EN }}</td>
		<td style="text-align: center;">{{ partners.ACTIV }}</td>
		<td class="actions">
			<span class="up-disabled" style="display:none;">{{ ICON_MOVE_UP_DISABLED }}</span>
			<span class="up"><a href="{{ partners.U_MOVE_UP }}">{{ ICON_MOVE_UP }}</a></span>
			<span class="down-disabled" style="display:none;">{{ ICON_MOVE_DOWN_DISABLED }}</span>
			<span class="down"><a href="{{ partners.U_MOVE_DOWN }}">{{ ICON_MOVE_DOWN }}</a></span>
			<a href="{{ partners.U_EDIT }}">{{ ICON_EDIT }}</a>
			<a href="{{ partners.U_DEL }}" data-ajax="row_delete">{{ ICON_DELETE }}</a>
		</td>
	</tr>
	{% else %}
	<tr class="row3">
		<td colspan="7">{{ lang('ACP_DMP_NO_ENTRY') }}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
</form>
{% endif %}

{% INCLUDE 'overall_footer.html' %}
