{% INCLUDE 'overall_header.html' %}

<h2>{{ lang('DMP_TITLE_ADD') }}</h2>

<p>{{ lang('DMP_TITLE_ADD_DESC') }}</p>
<br>
<div class="forabg">
	<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl class="row-item">
					<dt>
						<div class="list-inner">
							{{ lang('DMP_TITLE_ADD') }}
						</div>
					</dt>
				</dl>
			</li>
		</ul>
		<form id="post" method="post" action="{{ U_ACTION }}">
			<div class="panel">
				<div class="inner">
					<p><input type="hidden" name="id" value="{{ ID }}" /></p>
					<fieldset>
						<dl>
							<dt><strong>{{ lang('DMP_NEED') }}<br><br></strong></dt>
						</dl>
						<dl>
							<dt><strong>{{ lang('DMP_SITE') ~ lang('COLON') }}</strong><br>{{ lang('DMP_SITE_DESC') }}</dt>
							<dd><input type="text" name="site" size="41" value="{{ SITE }}" /></dd>
						</dl>
						<dl>
							<dt><strong>{{ lang('DMP_DESC') ~ lang('COLON') }}</strong><br><span>{{ lang('DMP_DESC_DESC') }}</span></dt>
							<dd><br><textarea rows="9" name="text" cols="52">{{ TEXT }}</textarea></dd>
						</dl>
						<dl>
							<dt><br><strong>{{ lang('DMP_URL') ~ lang('COLON') }}</strong><br><span>{{ lang('DMP_URL_DESC') }}</span></dt>
							<dd><br><input type="text" name="url" size="52" value="{{ URL }}" /></dd>
						</dl>
						<dl>
							<dt><br><strong>{{ lang('DMP_IMG') ~ lang('COLON') }}</strong><br><span>{{ lang('DMP_IMG_DESC') }}</span></dt>
							<dd><br><input type="text" name="image" size="52" value="{{ IMG }}" /></dd>
						</dl>
						<dl>
							<dt><label>{{ lang('DMP_BG_IMG') ~ lang('COLON') }}</label><br><span>{{ lang('DMP_BG_IMG_DESC') }}</span></dt>
							<dd><input type="text" name="bg_image" size="52" value="{{ BG_IMG }}" /></dd>
						</dl>
					</fieldset>
					<fieldset class="submit-buttons">
						<input class="button1" id="submit" name="submit" value="{{ lang('SUBMIT') }}" type="submit" />&nbsp;
						<input class="button2" id="reset" name="reset" value="{{ lang('RESET') }}" type="reset" />
					</fieldset>
				</div>
			</div>
		</form>
	</div>
</div>

{% INCLUDE 'overall_footer.html' %}
